backports.cached-property # Python3.8 adds functools.cached_property
click
cloudpickle
fastapi
prometheus-fastapi-instrumentator
rich
typing-extensions
uvicorn
loguru
requests
pydantic<=2.0.3

huggingface_hub
diffusers[torch]
sentence-transformers
torch
transformers
