anyio>=3.7.0 # we use exceptiongroup
click
cloudpickle==2.2.1
contextlib2 # backports async support in nullcontext
exceptiongroup
fastapi
httpx[http2]
limits
prometheus-fastapi-instrumentator
rich
typing-extensions
uvicorn>=0.22.0 # needed by timeout_graceful_shutdown
loguru
requests
pydantic!=2.1.0 # 2.1.0 has a bug (pydantic #6862) that breaks fastapi.
python-multipart

accelerate # needed by low_cpu_mem_usage
huggingface_hub
hf-transfer
diffusers[torch]
sentence-transformers
torch
transformers
