backports.cached-property # Python3.8 adds functools.cached_property
click
cloudpickle
fastapi
python-multipart
python-dotenv
rich
uvicorn
loguru
requests

huggingface_hub
diffusers[torch]
sentence-transformers
transformers
