accelerate
backports.cached-property # Python3.8 adds functools.cached_property
click
cloudpickle
fastapi
prometheus-fastapi-instrumentator
python-multipart
python-dotenv
rich
typing-extensions
uvicorn
loguru
requests

huggingface_hub
diffusers[torch]
sentence-transformers
transformers
