anyio
backports.cached-property # Python3.8 adds functools.cached_property
click
cloudpickle
fastapi
httpx
limits
prometheus-fastapi-instrumentator
rich
typing-extensions
uvicorn
loguru
requests
pydantic!=2.1.0 # 2.1.0 has a bug (pydantic #6862) that breaks fastapi.

huggingface_hub
diffusers[torch]
sentence-transformers
torch
transformers
