name: docker

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Photon Runner Version"
        required: false
      build_base:
        description: "Whether to (re)build base images"
        type: boolean
        default: false
      is_release:
        description: "Is this a release build"
        type: boolean
        default: false
      platform:
        description: "Platform to build"
        required: false
        type: string
        default: linux/amd64,linux/arm64

jobs:
  build_matrix:
    strategy:
      matrix:
        python_version: ["3.8", "3.9", "3.10", "3.11"]
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,amd64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Compute Vars
        id: vars
        env:
          ECR_REPOSITORY: lepton
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: echo "base_image=${ECR_REGISTRY}/${ECR_REPOSITORY}:photon-py${{ matrix.python_version }}" >> $GITHUB_OUTPUT
      - name: Build Base Images
        if: inputs.build_base
        run: |
          tag="${{ steps.vars.outputs.base_image }}"

          if [ "${{ inputs.is_release }}" == 'true' ]; then
              docker buildx build . --build-arg PYTHON_VERSION=${{ matrix.python_version }} --file leptonai/photon/dockerfiles/photon-py.Dockerfile --tag "${tag}" --platform ${{ inputs.platform }} --push
          else
              docker buildx build . --build-arg PYTHON_VERSION=${{ matrix.python_version }} --file leptonai/photon/dockerfiles/photon-py.Dockerfile --tag "${tag}" --platform ${{ inputs.platform }}
          fi
      - name: Build Runner Images
        env:
          VERSION_TAG: ${{ github.event.inputs.version || github.sha }}
        run: |
          echo "HEAD SHA=$(git rev-parse --short HEAD)"
          echo "VERSION_TAG=0.21.0"

          base_tag="${{ steps.vars.outputs.base_image }}"
          tag="${{ steps.vars.outputs.base_image }}-runner-0.21.0"

          if [ "${{ inputs.is_release }}" == 'true' ]; then
              docker buildx build . --build-arg BASE_IMAGE="${base_tag}" --file leptonai/photon/dockerfiles/photon-runner.Dockerfile --tag "${tag}" --platform ${{ inputs.platform }} --push
          else
              docker buildx build . --build-arg BASE_IMAGE="${base_tag}" --file leptonai/photon/dockerfiles/photon-runner.Dockerfile --tag "${tag}" --platform ${{ inputs.platform }}
          fi